<%= link_to "Back" , users_home_path,class:"button-24"%>
<style>
  * {
  margin: 0;
  padding: 0;
  background-color: #101820;
}

.user-table {
  background-color: inherit;
  color: #FF004D;
  width: 100vw;
  border-collapse: collapse;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  border-collapse: separate; /* Allows for border spacing */
  border-spacing: 10px 10px; /* 0 horizontal spacing, 10px vertical spacing */ 
}

.user-table th {
  padding: 5px;
  text-align: left;
  background-color: #FEE715;
  color: black;
  margin: 7px;
  text-align: center;
}

.user-table td {
  padding: 10px;
  text-align: center;
  font-weight: 20px;
  background-color: inherit; /* Changed to a brighter shade */
  color: #ffffff; /* Added for better readability */
  margin: 5px;
  border: 1px solid #FEE715; /* Added a border */
  transition: background-color 0.3s ease; /* Smooth background transition */
}

.user-table td:hover {
  background-color: #ffffff; /* Darker shade on hover */
  color:black;
}

.action-button {
  border: none;
  outline: none;
  background-color: #FF004D;
  color: #030637;
  padding: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
  border-radius: 10px;
}

.action-button:hover {
  color: #FFFFFF;
}

.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  text-decoration: none;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}

</style>

<table class="user-table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Actions</th>
    <th>VIEW EXPENSES</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      
        <% if current_user &&  current_user.email == user.email%>
        <td>
          <%= link_to 'Edit', users_edit_path(user), class: 'button-24' %>
          <%= link_to 'Delete', users_personnel_delete_path(user), class: 'button-24' %>
        </td>
        <%# <td><%= link_to 'ADD EXPENSES', expense_add_expense_path(user), class: 'button-24' </td> %>
        <td><%= link_to 'SHOW MY EXPENSES', expense_show_expenses_path(user) , class: 'button-24'%></td>
        <%end%>

    </tr>
  <% end %>
</table>

